/* Global Variables */
:root {
    --primary-color: #37474F; /* Dark Blue Gray */
    --secondary-color: #ECEFF1; /* Light Gray */
    --accent-color: #2196F3; /* Light Blue */
    --neutral-light: #FFFFFF; /* White */
    --neutral-dark: #263238; /* Dark Blue Gray */
  }

/* Resetting Defaults */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    padding: 15px 20px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.navbar ul li a:hover {
    color:var(--accent-color);
}

.navbar .sub-menu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    z-index: 1;
    border: 3px black;
}

.navbar .sub-menu li {
    display: block;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.navbar .other:hover .sub-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}

.navbar .other {
    position: relative;
}

.contact-item {
    margin-left: auto;
}

.contact-item a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contact-item a:hover {
    color:var(--accent-color);
}

/* Image Container */
.image-container {
    width: 100%;
    position: relative;
    border-bottom: 4px solid var(--primary-color);
    text-align: center;
    overflow: hidden;
    height: 400px;
}

.image-content {
    width: 100%;
    padding-bottom: 30%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('photo3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 36px;
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Prevent text from wrapping */
    border-right: 2px solid #fff; /* Typing cursor effect */
    animation: typing 2s steps(20) forwards;
}



/* Updated styles for Overview Section */
.overview-section {
    padding: 100px 0; /* Increase padding for better spacing */
    text-align: center;
    width: 70%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.overview-content {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.overview-content h2 {
    font-size: 42px;
    margin-bottom: 30px;
    color: #37474F; /* Adjust title color */
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.overview-content p {
    font-size: 20px;
    line-height: 1.8;
    color: #555; /* Adjust paragraph text color */
    position: relative;
    z-index: 1;
}

.overview-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #2196F3, #ECEFF1); /* Gradient background */
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    transform-origin: bottom;
    transform: skewY(-10deg); /* Skewed shape */
}

/* Coverages Section */
.coverages-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #0288d1;
    text-align: center;
  }

  
  .coverage-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 50px;
    gap: 20px;
  }
  
  .coverage-card {
    flex: 0 0 calc(40% - 20px);
    height: 220px;
    padding: 20px;
    background-color: var(--neutral-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .coverage-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .coverage-card p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    /* Add other styles as needed */
  }
/* Benefit Table */
.benefit-table-title {
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    color: var(--primary-color);
}

.benefit-table {
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
    padding-bottom:70px;
}

/* Table Rows and Cells */
.benefit-table th, .benefit-table td {
    padding: 8px;
    text-align: left;
}

.benefit-table th {
    background-color: #f2f2f2;
    font-size:20px;
    text-align: center;
    /* Add other styles as needed */
}

.benefit-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Add other styles as needed */
}

.benefit-table tbody tr:hover {
    background-color: #f1f1f1;
    /* Add other styles as needed */
}

.benefit-table td {
    font-size: 20px;
    text-align: center;
    /* Add other styles as needed */
}

/* Checkmark style */
.checkmark,
.cross {
    font-size: 20px;
    text-align: center;
}
.benefit-table tbody tr {
    border-bottom: 1px solid #ddd; /* Add a border to the bottom of each table row */
    height: 100px;
}

.benefit-table tbody tr:last-child {
    border-bottom: none; /* Remove the border from the last table row */
}


/* Style for FAQ section */
.faq-section {
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: var(--neutral-light);
}

.faq-section h2{
    text-align: center;
    margin-bottom: 30px;
}

/* Style for FAQ items */
.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

/* Style for FAQ question button */
.faq-question {
    background: #f5f5f5; /* Light background color */
    border: none;
    text-align: left;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question:focus {
    outline: none;
}

/* Add hover effect to question button */
.faq-question:hover {
    background-color: #e0e0e0; /* Lighter background color on hover */
}

/* Style for FAQ answer */
.faq-answer {
    display: none;
    padding: 15px;
}

/* Show answer when question is clicked */
.faq-item.active .faq-answer {
    display: block;
    background-color: #f9f9f9; /* Background color for the answer */
    margin-top: 10px; /* Add some spacing between the question and answer */
    padding: 15px;
    border-radius: 8px;
}

/* Dropdown arrow style */
.dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000; /* Change color as needed */
    transition: transform 0.3s ease;
}

.faq-item.active .dropdown-arrow {
    transform: rotate(180deg);
}

/* Footer section */
.footer {
    background-color: var(--primary-color);
    margin-top: 30px;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

/* Footer content layout */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Footer logo */
.footer-logo img {
    width: 100px; /* Adjust size as needed */
    height: auto;
}

/* Contact information */
.footer-contact-info {
    text-align: left;
}

.footer-contact-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-contact-info p {
    margin-bottom: 5px;
}